* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  font-family: 'Goudy Old Style', system-ui, sans-serif;
  overflow-y: auto;
  min-height: 100%;
}

h1 {
    color: #e0f0ff;
font-family: 'Goudy Old Style', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 60px;
margin-bottom: 30px;
margin-top: 40px;
}

h2 {
    color: #e0f0ff;
font-family: 'Goudy Old Style', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 30px;
margin-bottom: 50px;
margin-top: 10px;
}

h3 {
    color: #2370ff9c;
font-family: 'Goudy Old Style', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 30px;
margin-top: 20px;
margin-bottom: 40px;
}

.container {
  text-align: center;
  padding: 40px;
  background: rgba(75, 147, 255, 0.404);
  position: absolute;
  top: 100%;
    left: 50%;
    width: 800px;
    height: 900px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    
    display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center; 
  gap: 20px;
}

button {
    display: block;
    padding: 20px;
    margin: 0 auto;
    background-color :rgba(103, 156, 255, 0.336);
    color: #e0f0ff;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    border: 0;
    font-size: 30px;
    font-family:'Goudy Old Style';
    gap: 15px;
}

button:hover {
    background-color: #2370ff9c;
    color: #68a9ff73;
    transition: .3s ease all;
    transform: translateY(0%);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 62, 145, 0.459);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.show {
    display: flex;
}

.modal-content {
    background-color: #e0f0ff;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    width: 170%;
    position: relative;
    text-align: center;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.button-img {
    width: 500px;
    height: 250px;
    transition: filter 0.3s ease-in-out;
    margin-top: 5px;
}

.img-btn.active img {
    filter: drop-shadow(0 0 15px #4467ff)
}

.hover-button-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.button-img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.hidden-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 5, 71);
    color:#e0f0ff;
    font-family: "Century Gothic";
    padding: 8px 16px;
    border-radius: 20px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hover-button-link:hover .hidden-text {
    opacity: 1;
    visibility: visible;
}

