* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  font-family: 'Goudy Old Style', system-ui, sans-serif;
  overflow-y: auto;
  min-height: 100%;
}

h1 {
    color: #e0f0ff;
font-family: 'Goudy Old Style', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 60px;
margin-bottom: 30px;
margin-top: 40px;
}

h2 {
    color: #e0f0ff;
font-family: 'Goudy Old Style', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 30px;
margin-bottom: 30px;
}

h3 {
    color: #e0f0ff;
font-family: 'Goudy Old Style', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: 30px;
margin-top: 30px;
}